@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border;
}

h1{
    text-align: center;
    padding: 20px;
    color: black;
    background-color: gray;
}

#bur{
    text-align: center;
    display: block;
    font-size: 30px;
    background-color: gray;
    cursor: pointer;
}

#bur:hover{
    background-color: rgb(54, 54, 54);
    color: white;
    transition: 0.5s;
}

#nav{
    background-color: gray;
    display: none;
}

ul {
    text-align: center;
}

li{
    list-style: none;
    padding: 7px;
    background-color: gray;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

#nav a:hover{
    background-color: rgb(54, 54, 54);
    color: white;
    transition: 0.5s;
    border-radius: 10px;
}

#conteudo{
    width: 80vw;
    margin: 0 auto;
}

h2{
    text-align: center;
    padding: 10px;
    color: black;
}
p{
    text-align: justify;
    padding: 7px;
    color: black;
}