@charset "UTF-8";

:root {
    --azul: #0000f7;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #1b1f21 40%, var(--azul));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#tudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-container {
    padding: 0px;
    margin: auto;
    width: 95vw;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

#cavegreen {
    padding-top: 50px;
    display: block;
    margin: auto;
    width: 95vw;
    height: 200px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: center;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #818181;
}

button{
    padding: 10px;
    background-color: var(--azul);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0000c7;
}

#register-link {
    text-align: center;
    font-size: 1rem;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: var(--azul);
}

#register-link {
    padding-bottom: 20px;
}
