@charset "UTF-8";

*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: #09f
}
main{
    background-color: white;
    box-shadow: 7px 7px 5px black; 
    width: 500px;
}
div{
    background-color: white;
    width: 157px;
    box-shadow: 7px 7px 5px black;
}
h1{
    text-align: center;
    color: black
}