@charset "UTF-8";
h1{ 
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 400px;
}
td {
    border: 1px solid black;
    padding: 10px;

}
a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding: 10px;
    text-align: right;
}
a:hover{
    color: rgb(14, 14, 80);
    background-color: gray;
}