@charset "UTF-8";

@media (min-width: 768px) {
    
    #conteudo {
        width: 800px;
        display: flex;
    }
    p {
        width: 400px;
        display: inline-block;
    }
    img {
        display: inline-block;
        padding-left: 50px;
    }
    .uimg {
        padding-bottom: 0px;
    }
    
}